@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>My Links</h3>

    <address>
        <strong>Portfolio:</strong>   <a href="https://portfolio-s-just.vercel.app/">Click Here</a><br />
        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sean-just/">Click Here</a><br />
        <strong>Email:</strong>   <a href="mailto:seanjust530@gmail.com">seanjust530@gmail.com</a><br />
        <strong>GitHub:</strong>   <a href="https://github.com/s-just/">Click Here</a><br />
    </address>
</main>