@{
    ViewBag.Title = "Task Manager - Home";
}

<main class="container-fluid">
    <section class="row text-center my-5" aria-labelledby="appTitle">
        <h1 id="appTitle" class="display-4">Web-based Task Manager</h1>
        <p class="lead">A personal task management solution. Manage, assign, and track tasks using ASP.NET and MVC.</p>
        <p> Users and Tasks are stored using a local database. This is not a commercial project.</p>
        @* Here, you can add a button or link for logging in or navigating to dashboard *@
        <p><a href="@Url.Action("Create", "AppUsers")" class="btn btn-primary">Sign Up &raquo;</a></p>
    </section>

    <div class="row text-center my-4">
        <section class="col-md-4" aria-labelledby="manageTasksTitle">
            <h2 id="manageTasksTitle" class="h4">Manage Tasks</h2>
            <p>View and track your personal assigned tasks.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("MyTasks", "AppTasks")">View Tasks &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="notificationsTitle">
            <h2 id="notificationsTitle" class="h4">Notifications</h2>
            <p>Stay updated with real-time task notifications and updates.</p>
        </section>
        <section class="col-md-4" aria-labelledby="adminControlsTitle">
            <h2 id="adminControlsTitle" class="h4">Admin Controls</h2>
            <p>Easy user management, task delegation, and more.</p>
            @* Assuming only admins should access this, you might have user roles and can conditionally show this section. *@
            <p>
                <a class="btn btn-outline-dark mr-2" href="@Url.Action("Index", "AppUsers")">User Dashboard &raquo;</a>
                <a class="btn btn-outline-dark" href="@Url.Action("Index", "AppTasks")">Task Dashboard &raquo;</a>
            </p>

        </section>
    </div>
</main>